.container-fluid
    .row
        .col-lg-12
            h1.page-header Forms
    #container-fluid
        form#settings-form
            #left.col-lg-6
                button#select-a-file.btn.btn-info(type='button') SELECT A FILE
                input#files(type='file', name='files[]', multiple='')
                output#list