#wrapper{
	font-family: 'Open Sans', sans-serif;
}

.employeeHeader{
	display:inline-block;
}

.employeeSearch{
	display:inline-block;
	float:right;
	margin-right: 3%;
	padding-top: 3%;
}

.navbar-collapse{
	border-bottom: 1px solid #eee;
}

.nav{
	letter-spacing: 1px;
}

.nav li{
	padding:10px 15px;
}

.nav li:hover{
	border-bottom: 3px solid #3D4B5D;
}

.nav li a{
	color:black;
	text-decoration: none;
	padding:0;
}

.employeeList{
	min-height: 100vh;
	border-right:1px solid #eee;
}

.employeeList ul{
	height:75vh;
	overflow:hidden;
	overflow-y:scroll;
	list-style-type: none;
	-webkit-padding-start: 0px;
}

.employeeList table a{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: black;
}
.employeeList ul h4{
	border-bottom: 1px solid #eee;
}

.employeeList table{
	width:100%;
}

.employeeAdd{
	position: relative;
	height: 60vh;
	margin: 0 auto;
	padding: 20px;
	overflow: auto;
}

.employeeAdd .employeeForm{
	/*margin:0 auto;
	float:none;*/
	transform: translate(-50%, -50%);
	position: absolute;top: 50%;
	left: 50%;
	overflow: auto;
}

.employeeName{
	float:left;
	width:55%;
}

.employeeTitle{
	margin-left: 5%;
	display:inline-block;
	width:40%;
}

.employeeButtons{
	float:right;
	padding-top: 30px;
}

.employeeButtons button{
	margin-left:10px;
	width: 100px;
}

.employeeButtons a{
	text-decoration: none;
	color:black;
}