html, body {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
    }
}

.navbar {
    border: 0px;
}
.navbar-default .navbar-brand {
    font-size: 16px;
    width: 250px;
    color: white;
    text-align: center;
    background-color: #2A3643;
}

.navbar-default .navbar-brand:hover{
    background-color: #2A3643;
    color: white;
}


.navbar-static-top{
    box-shadow: 1px 0px 8px black;
}
.navbar-default{
    background-color: white;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    padding: 15px;
    padding-left: 30px;
    min-height: 50px;
}

.dropdown-menu {
    left: auto;
    right: 15px;
}

.username a{
    text-decoration: none;
}
.username a:hover{
    text-decoration: none;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-user {
    margin-right: 15px;
    left: auto;
}

.username {
    float: right;
    padding: 15px;
}

.sidebar {
    z-index: 1;
    background-color: #354150;
    position: absolute;
    width: 250px;
    margin: 0;
    top: 0;
    height: 100%;
}
.sidebar .first{
    margin-top: 51px;
}
.sidebar li{
    height: 50px;
}

.sidebar ul li a {
    color: white;
    height: 50px;
    padding-top: 15px;
}

.sidebar .v-highlight{
    display: none;
    width: 7px;
    height: 100%;
    float: left;
    background-color: #2DC5D3;
}

.sidebar ul li a.active {
    background-color: #354150;
}

/* text */
.sidebar ul li a:hover{
    background-color: #3D4B5D;
    border-left: 5px solid #2DC5D3;
}

.sidebar ul li a i{
    margin: 0 20px;
}


.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}