.container-fluid
    .row
        .col-lg-12
            h1.page-header EMPLOYEES
            html
                body
                    .row
                        input.apptSearch.form-control.ng-isolate-scope(st-search='', placeholder='Search Employees', type='text')
                        button#newAppt.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal') ADD NEW EMPLOYEE
                        .row
                            .col-lg-12
                                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                    ul.nav.navbar-nav.navbar-right
                                        li
                                            a(href='#') Directory
                                        li
                                            a(href='#') Import CSV

        // Modal
        #myModal.modal.fade(role='dialog')
            .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title ADD NEW EMPLOYEE
                    .modal-body
                        h4 FULL NAME
                        input.inputBox.newApptInput(type='text', ng-model="name")
                        h4 TITLE
                        input.inputBox.newApptInput(type='text', ng-model="title")
                        h4 EMAIL
                        input.inputBox.newApptInput(type='text', ng-model="email")
                        h4 PHONE NUMBER
                        input.inputBox.newApptInput(type='text', ng-model="phoneNumber")
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit', ng-click="createEmployee()") Add
        .row
            .col-lg-12
                // /.panel-heading
                .panel-body
                    .dataTable_wrapper
                        table#dataTables-example.table.table-hover
                            thead
                                tr
                                    th NAME
                                    th TITLE
                                    th EMAIL
                                    th PHONE NUMBER
                            tbody
                                tr.odd.gradeX(ng-repeat="q in employeeList")
                                    td(style='min-width:10em;max-width:10em;', data-ng-click='editMode = true; editRowCollection(q)')
                                        .center(data-ng-hide='editMode')
                                            span {{q.name}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='q.name')
                                    td(style='min-width:10em;max-width:10em;', data-ng-click='editMode = true; editRowCollection(q)')
                                        .center(data-ng-hide='editMode')
                                            span {{q.title}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='q.title')
                                    td(style='min-width:10em;max-width:10em;', data-ng-click='editMode = true; editRowCollection(q)')
                                        .center(data-ng-hide='editMode')
                                            span {{q.email}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='q.email')
                                    td(style='min-width:5em;max-width:5em;', data-ng-click='editMode = true; editRowCollection(q)')
                                        .center(data-ng-hide='editMode')
                                            span {{q.phoneNumber}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='q.phoneNumber')
                                    td EDIT
                                    td
                                        button.btn.col-md-5.btn-primary(type='submit', data-ng-show='editMode', data-ng-click='editMode=false; editRowCollection(q);')
                                            i.glyphicon.glyphicon-ok-circle
                                        button.btn.col-md-5.btn-default(type='button', data-ng-show='editMode', ng-click='removeEmployee(q); editMode=false;')
                                            i.glyphicon.glyphicon-ban-circle
