// Page Content
#page-wrapper
    .container-fluid
        .row
            .col-lg-12
                h1.page-header.employeeHeader Employees
                form.employeeSearch
                    input(type='text', name='search', placeholder='Search Employees')
                    br
            .col-lg-12
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Directory
                        li
                            a(href='#') Import Manually
                        li
                            a(href='#') Import CSV
            .col-lg-12
                .col-lg-3.employeeList
                    ul
                        h4 A
                        li EmployeeA
                        li EmployeeA
                        li EmployeeA
                        li EmployeeA
                        li EmployeeA
                        li EmployeeA
                        li EmployeeA
                        li EmployeeA
                        h4 B
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        li EmployeeB
                        h4 F
                        li EmployeeF
                        li EmployeeF
                        li EmployeeF
                        h4 R
                        li EmployeeR
                        li EmployeeR
                        li EmployeeR
                        h4 S
                        li EmployeeS
                        li EmployeeS
                        li EmployeeS
                        li EmployeeS
                        h4 T
                        li EmployeeT
                        li EmployeeT
                        li EmployeeT
                        li EmployeeT
                        h4 V
                        li EmployeeV
                        li EmployeeV
                        li EmployeeV
                        li EmployeeV
                        h4 Y
                        li EmployeeY
                        li EmployeeY
                        li EmployeeY
                        h4 Z
                        li EmployeeZ
                        li EmployeeZ
                        li EmployeeZ
                .col-lg-9.employeeAdd
                    .col-lg-8.employeeForm
                        h1 Dylan King
                        .form-group
                            .form-group.employeeName
                                label Full Name
                                input.form-control
                            .form-group.employeeTitle
                                label Title
                                select.form-control
                                    option Mr.
                                    option Ms.
                                    option Mrs.
                                    option Gangsta
                                    option Master
                        .form-group
                            label Email
                            input.form-control
                        .form-group
                            label Phone Number
                            input.form-control
                        .employeeButtons
                            button.btn.btn-primary.btn-lg(type='button', style='background-color:#95a5a6')
                                a(href='#') Edit
                            button.btn.btn-primary.btn-lg(type='button', style='background-color:#e74c3c')
                                a(href='#') Delete
                            button.btn.btn-primary.btn-lg(type='button', style='background-color:#3498db')
                                a(href='#') Save
