.modal-header
    h3.modal-title Are you sure you want to delete:
.modal-body
    h4 {{delObj._name._first}} {{delObj._name._last}}
.modal-footer
    button.btn.btn-red(ng-click='delete()') Delete
    button.btn.btn-blue(ng-click='cancel()') Cancel
