.container-fluid
    .row
        .col-lg-12
            h1.page-header Settings
        // /.col-lg-12
    #container-fluid
        form#settings-form
            #left.col-lg-6
                img.logo(ng-src="{{settings.logo}}", alt='Company logo')
                button#select-a-file.btn.btn-info(type='button') SELECT A FILE
                input#files(type='file', name='files[]', multiple='')
                output#list
            #right.col-lg-6
                h2 Your Company Info
                br
                h3 COMPANY NAME
                input#companyName.inputBox(type='text', value="#{provider._domain}", disabled)
                h3 LOGO
                input.inputBox(type='text', ng-model="settings.logo")
                h3 TIMEZONE
                input#timezone.inputBox(type='text', ng-model="settings.timezone")
                h3 SLACK
                input#slack.inputBox(type='text', ng-model="settings.slack")
                h3 PRIMARY COLOR
                input.inputBox(type='text', ng-model="settings.theme.primaryColor")
                h3 SECOND COLOR
                input.inputBox(type='text', ng-model="settings.theme.secondaryColor")
                h3 ACCENT COLOR
                #accent-color-left
                    p Choose custom accent colors for details on your check in app
                #accent-color-right
                    button#accent-color.btn.btn-info(type='button', data-toggle='modal', data-target='#colorModal')
                        | CHOOSE ACCENT
                        br
                        | COLORS
                #settings-cancel
                    br
                    button#cancel-button.btn.btn-default(type='button') CANCEL
                #settings-submit
                    br
                    button#submit-button.btn.btn-info(type='button', ng-click="update()") SUBMIT
    // Modal
    #colorModal.modal.fade(role='dialog')
        .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title ACCENT COLOR
                .modal-body
                    h3 Choose a primary color
                    input.inputBox(type='text')
                    h3 Choose a secondary color
                    input.inputBox(type='text')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary(type='submit', data-ng-disabled='modalForm.$invalid') OK

