

.container-fluid
    .row
        .col-lg-12
            h1.page-header APPOINTMENTS
            html
                body
                    .row
                        input.apptSearch.form-control.ng-isolate-scope(st-search='', placeholder='Search Appointments', type='text')
                        button#newAppt.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal') CREATE AN APPOINTMENT



        // Modal
        #myModal.modal.fade(role='dialog')
            .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title CREATE A NEW APPOINTMENT
                    .modal-body

                        h4 VISITOR
                        input.inputBox.newApptInput(type='text', ng-model="visitor")
                        h4 REASON
                        input.inputBox.newApptInput(type='text', ng-model="reason")
                        h4 DATE/TIME



                        .row2
                            .row
                                .col-sm-6
                                    input#datetimepicker4.inputBox.newApptInput(type='text', ng-model="datepickerdata")

                                script(type='text/javascript').
                                    $(function () {
                                        console.log("date picker: "+JSON.stringify($('#datetimepicker4').datetimepicker()));
                                    });

                        //.row
                            .col-sm-12
                                .row
                                    .col-xs-5.col-md-5
                                        h4 START
                                    .col-xs-2.col-md-2(style='text-align:center;')
                                        //blank holder
                                    .col-xs-5.col-md-5
                                        h4 END




                                        //.container
                                            .row
                                                .col-sm-6
                                                    input#datetimepicker4.form-control(type='text')

                                                script(type='text/javascript').
                                                    $(function () {
                                                        $('#datetimepicker4').datetimepicker();
                                                    });

                                        //input.inputBox.newApptInput(date-provider='datetimepicker')
                                    .col-xs-6.col-md-2(style='text-align:center;')
                                        h4 TO
                                    .col-xs-6.col-md-5
                                        //input.inputBox.newApptInput(data-provide='datepicker')


                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit', ng-click="submitCreate()") Submit
        .row
            .col-lg-12
                // /.panel-heading
                .panel-body
                    .dataTable_wrapper
                        table#dataTables-example.table.table-hover
                            thead
                                tr
                                    th VISITOR
                                    th START
                                    th END
                                    th REASON
                                    th ACTION
                            tbody
                                tr.odd.gradeX(ng-repeat="a in appointments")
                                    td(style='min-width:6em;max-width:10em; vertical-align:middle;')
                                        .center(data-ng-hide='editMode')
                                            span {{a.visitor}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.visitor')
                                    td(style='min-width:10em;max-width:10em; vertical-align:middle;')
                                        .center(data-ng-hide='editMode')
                                            span {{a.start}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.start')
                                    td(style='min-width:10em;max-width:10em; vertical-align:middle;')
                                        .center(data-ng-hide='editMode')
                                            span {{a.end}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.end')
                                    td(style='min-width:5em;max-width:5em; vertical-align:middle;')
                                        .center(data-ng-hide='editMode')
                                            span {{a.reason}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.reason')
                                    td(style='min-width:5em;max-width:5em; vertical-align:middle;')
                                        .center(data-ng-hide='editMode')

                                        button.btn.btn-danger.btn-sm(type='button', ng-click='cancelAppointment(a); ', data-toggle='tooltip', data-placement='top', title='Remove Appointment')
                                            i.glyphicon.glyphicon-trash
                                        button.btn.btn-warning.btn-sm(type='button', data-ng-hide='editMode', data-ng-click='editMode=true;', data-toggle='tooltip', data-placement='top', title='Edit Appointment')
                                            i.glyphicon.glyphicon-pencil
                                        button.btn.btn-success.btn-sm(type='button', data-ng-show='editMode', data-ng-click='editMode=false; editRowCollection(a);', data-toggle='tooltip', data-placement='top', title='Save Changes')
                                            i.glyphicon.glyphicon-ok

