.container-fluid
    .row
        .col-lg-12
            h1.page-header APPOINTMENTS
            html
                body
                    .row
                        input.apptSearch.form-control.ng-isolate-scope(st-search='', placeholder='Search Appointments', type='text')
                        button#newAppt.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal') CREATE A NEW APPOINTMENT

        // Modal
        #myModal.modal.fade(role='dialog')
            .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title CREATE A NEW APPOINTMENT
                    .modal-body
                        h4 VISITOR
                        input.inputBox.newApptInput(type='text', ng-model="visitor")
                        h4 START
                        input.inputBox.newApptInput(type='text', ng-model="start")
                        h4 END
                        input.inputBox.newApptInput(type='text', ng-model="end")
                        .row
                            .col-md-6
                                h4 STATUS
                                input.inputBox.newApptDate(type='text', ng-model="status")
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit', ng-click="submitCreate()") Submit
        .row
            .col-lg-12
                // /.panel-heading
                .panel-body
                    .dataTable_wrapper
                        table#dataTables-example.table.table-hover
                            thead
                                tr
                                    th VISITOR
                                    th START
                                    th END
                                    th STATUS
                                    th ACTION
                            tbody
                                tr.odd.gradeX(ng-repeat="a in appointments")
                                    td(style='min-width:10em;max-width:10em;', data-ng-click='editMode = true; editRowCollection(a)')
                                        .center(data-ng-hide='editMode')
                                            span {{a.visitor}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.visitor')
                                    td(style='min-width:10em;max-width:10em;', data-ng-click='editMode = true; editRowCollection(a)')
                                        .center(data-ng-hide='editMode')
                                            span {{a.start}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.start')
                                    td(style='min-width:10em;max-width:10em;', data-ng-click='editMode = true; editRowCollection(a)')
                                        .center(data-ng-hide='editMode')
                                            span {{a.end}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.end')
                                    td(style='min-width:5em;max-width:5em;', data-ng-click='editMode = true; editRowCollection(a)')
                                        .center(data-ng-hide='editMode')
                                            span {{a.status}}
                                        input.form-control.edit-input(name='name', type='text', data-ng-show='editMode', data-ng-model='a.status')
                                    td Check Out
                                    td
                                        button.btn.col-md-5.btn-danger(type='button', data-ng-show='editMode', ng-click='cancelAppointment(a); editMode=false;')
                                            i.glyphicon.glyphicon-trash
                                        button.btn.col-md-5.btn-success(type='submit', data-ng-show='editMode', data-ng-click='editMode=false; editRowCollection(a);')
                                            i.glyphicon.glyphicon-ok

