.container-fluid
    .row
        .col-lg-12
            h1.page-header VISITORS QUEUE
        button#newAppt.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal') CREATE A NEW APPOINTMENT
        // Modal
        #myModal.modal.fade(role='dialog')
            .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title CREATE A NEW APPOINTMENT
                    .modal-body
                        h4 FULL NAME
                        input.inputBox.newApptInput(type='text')
                        h4 HOST
                        input.inputBox.newApptInput(type='text')
                        h4 REASON FOR VISIT
                        input.inputBox.newApptInput(type='text')
                        h4 DATE
                        input.inputBox.newApptInput(type='text')
                        .container
                        h4 TIME
                        input.inputBox.newApptInput(type='text')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit', data-ng-disabled='modalForm.$invalid', disables='disabled') Submit
        .row
            .col-lg-12
                // /.panel-heading
                .panel-body
                    .dataTable_wrapper
                        table#dataTables-example.table.table-bordered.table-hover
                            thead
                                tr
                                    th NAME
                                    th CHECK IN
                                    th APPOINTMENT
                                    th HOST
                                    th REASON FOR VISIT
                                    th ACTION
                            tbody
                                tr.odd.gradeX
                                    td Trident
                                    td Internet Explorer 4.0
                                    td Win 95+
                                    td.center 4
                                    td.center X
                                    td.center X
                                tr.even.gradeC
                                    td Trident
                                    td Internet Explorer 5.0
                                    td Win 95+
                                    td.center 5
                                    td.center C
                                    td.center X
                                tr.odd.gradeA
                                    td Trident
                                    td Internet Explorer 5.5
                                    td Win 95+
                                    td.center 5.5
                                    td.center A
                                    td.center X
    script.
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

