doctype html
html(lang='en', ng-app="fourtifyApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title SB Admin 2 - Bootstrap Admin Theme
        // Bootstrap Core CSS
        link(href='/bower/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // MetisMenu CSS
        link(href='/bower/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
        // DataTables CSS
        link(href='/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css', rel='stylesheet')
        // Custom CSS
        link(href='/css/sb-admin-2.css', rel='stylesheet')
        // Custom Fonts
        link(href='/bower/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/css/ionicons.css', rel='stylesheet', type='text/css')
        link(src='https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans')

  #page-wrapper
                .container-fluid
                    .row
                        .col-lg-12
                            h1.page-header VISITORS QUEUE
                        button#newAppt.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal') CREATE A NEW APPOINTMENT
                        // Modal
                        #myModal.modal.fade(role='dialog')
                            .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
                                // Modal content
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal') ×
                                        h4.modal-title CREATE A NEW APPOINTMENT
                                    .modal-body
                                        h4 FULL NAME
                                        input.inputBox.newApptInput(type='text')
                                        h4 HOST
                                        input.inputBox.newApptInput(type='text')
                                        h4 REASON FOR VISIT
                                        input.inputBox.newApptInput(type='text')
                                        h4 DATE
                                        input.inputBox.newApptInput(type='text')
                                        .container
                                        h4 TIME
                                        input.inputBox.newApptInput(type='text')
                                    .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                                        button.btn.btn-primary(type='submit', data-ng-disabled='modalForm.$invalid', disables='disabled') Submit
                        .row
                            .col-lg-12
                                // /.panel-heading
                                .panel-body
                                    .dataTable_wrapper
                                        table#dataTables-example.table.table-bordered.table-hover
                                            thead
                                                tr
                                                    th NAME
                                                    th CHECK IN
                                                    th APPOINTMENT
                                                    th HOST
                                                    th REASON FOR VISIT
                                                    th ACTION
                                            tbody
                                                tr.odd.gradeX
                                                    td Trident
                                                    td Internet Explorer 4.0
                                                    td Win 95+
                                                    td.center 4
                                                    td.center X
                                                    td.center X
                                                tr.even.gradeC
                                                    td Trident
                                                    td Internet Explorer 5.0
                                                    td Win 95+
                                                    td.center 5
                                                    td.center C
                                                    td.center X
                                                tr.odd.gradeA
                                                    td Trident
                                                    td Internet Explorer 5.5
                                                    td Win 95+
                                                    td.center 5.5
                                                    td.center A
                                                    td.center X
                                    // /.table-responsive
                                // /.panel-body
                                // /.panel
                            // /.col-lg-12
                    // /.row
                // /.container-fluid
            // /#page-wrapper
        // /#wrapper
        // jQuery
        script(src='/bower/jquery/dist/jquery.min.js')
        // Bootstrap Core JavaScript
        script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
        // Metis Menu Plugin JavaScript
        script(src='/bower/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='/bower/datatables/media/js/jquery.dataTables.min.js')
        script(src='/bower/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference
        script.
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });

