.container-fluid
    .row
        .col-lg-12
            h1.page-header VISITORS QUEUE
            html
                body
                    .row
                        input.apptSearch.form-control.ng-isolate-scope(st-search='', placeholder='Search Visitors', type='text')
                        button#newAppt.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal') CREATE A NEW APPOINTMENT


        // Modal
        #myModal.modal.fade(role='dialog')
            .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title CREATE A NEW APPOINTMENT
                    .modal-body
                        h4 FULL NAME
                        input.inputBox.newApptInput(type='text')
                        h4 HOST
                        input.inputBox.newApptInput(type='text')
                        h4 REASON FOR VISIT
                        input.inputBox.newApptInput(type='text')
                        .row
                            .col-md-6
                                h4 DATE
                                input.inputBox.newApptDate(type='text')
                            .col-md-6
                                h4 TIME
                                input.inputBox.newApptTime(type='text')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit', data-dismiss='modal') Submit
        .row
            .col-lg-12
                // /.panel-heading
                .panel-body
                    .dataTable_wrapper
                        table#dataTables-example.table.table-hover
                            thead
                                tr
                                    th NAME
                                    th CHECK IN
                                    th APPOINTMENT
                                    th HOST
                                    th REASON FOR VISIT
                                    th ACTION
                            tbody
                                tr.odd.gradeX
                                    td John Doe
                                    td 1:30PM
                                    td 1:30PM
                                    td.center Dr. Peter Parker
                                    td.center Routine Check-up
                                    td.center Check Out
                                tr.even.gradeC
                                    td Gwyneth Paltrow
                                    td 10:30AM
                                    td 10:00AM
                                    td.center Dr. Chris Hemsworth
                                    td.center Root Canal
                                    td.center Check Out
                                tr.odd.gradeA
                                    td Nina Groot
                                    td 9:30AM
                                    td 9:45AM
                                    td.center Dr. Ryan Gosling
                                    td.center Plastic Surgery
                                    td.center 10:04AM
    script.
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });