.container-fluid
    .row
        .col-lg-12
            h1.page-header VISITORS
            html
                body
                    .row
                        button#newAppt.btn.btn-info(type='button', ng-click="create()") CREATE
        .row
            .col-lg-12
                .alert.alert-dismissable.alert-danger.register-fail(ng-if="err", ng-cloak)
                    button.close(data-dismiss='alert', type='button') &times;
                    p.
                        {{err._code}}: {{err._msg}}
                .alert.alert-dismissable.alert-success(ng-if="success", ng-cloak)
                    button.close(data-dismiss='alert', type='button') &times;
                    p.
                        {{success._msg}}
                .alert.alert-dismissable.alert-info(ng-if="pending", ng-cloak)
                    button.close(data-dismiss='alert', type='button') &times;
                    p.
                        {{pending._msg}}
            .col-lg-12
                .panel-body
                    .dataTable_wrapper
                        table#dataTables-example.table.table-hover
                            thead
                                tr
                                    th NAME
                                    th EMAIL
                                    th PHONE
                                    th STATUS
                                    th ACTION
                            tbody
                                tr.odd.gradeX(ng-repeat="v in visitors")
                                    td(style='min-width:6em;max-width:10em; vertical-align:middle;')
                                        .center
                                            span {{v._name._first}} {{v._name._last}}
                                    td(style='min-width:10em;max-width:10em; vertical-align:middle;')
                                        .center
                                            span {{v._email}}
                                    td(style='min-width:10em;max-width:10em; vertical-align:middle;')
                                        .center
                                            span {{v._phone._number}}
                                    td(style='min-width:5em;max-width:5em; vertical-align:middle;')
                                        .center
                                            span {{v._status}}
                                    td(style='min-width:5em;max-width:5em; vertical-align:middle;')
                                        .center

                                        button.btn.btn-danger.btn-sm(type='button', title="Delete", ng-click="delete(v)")
                                            i.glyphicon.glyphicon-trash
                                        button.btn.btn-info.btn-sm(type='button', title='Edit', ng-click="update(v)")
                                            i.glyphicon.glyphicon-pencil